
<div class="row justify-content-center">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title"><%= @wod.title %></h5>
       <p class="card-text"><% @wod.description.each do |x| %>
          <% if x.scan("run").length > 0 %>
           <a href="/weather" target="_blank">
              A run!! Check the Weather <br />
            </a>
          <% end %> 
          <%= x %><br />
        <% end %></p>
        <a href="/wods" class="btn btn-primary">Randomize</a>
      </div>
    </div>
  </div>
</div>

<!-- dropdown menu -->
<div class="row justify-content-center"> 
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Your Fate
    <span class="caret"></span></button>
    <ul class="dropdown-menu text-center">
      <li><a href="/heroes">Hero</a></li>
      <li><a href="/ladies">The Ladies</a></li>
      <li><a href="/wods">Anything Goes</a></li>
    </ul>
  </div>
</div>



