
<div class="row justify-content-center">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title"><%= @wod.title %></h5>
       <p class="card-text"><% @wod.description.each do |x| %>
          <%= x %><br />
        <% end %></p>
        <a href="#" class="btn btn-primary">Randomize</a>
      </div>
    </div>
  </div>
</div>

<!-- dropdown menu -->
<div class="row justify-content-center"> 
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Your Fate
    <span class="caret"></span></button>
    <ul class="dropdown-menu text-center">
      <li><a href="#">Hero</a></li>
      <li><a href="#">The Ladies</a></li>
      <li><a href="#">Anything Goes</a></li>
    </ul>
  </div>
</div>



