@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
@import "font-awesome";

* {
  font-family: 'Lacquer', ;
}

body {
  background: image_url('weights.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
  color: white;
}

.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.card {
  padding: 50px;
  margin-top: 100px;
}


.box {
  
  text-align: center;
  margin-top: 140px;
}

#timer {
  font-family: 'Roboto', ;
  font-family: 'Open Sans', ;
  color: white;
  font-size: 105px;
  font-weight: 150;
}

#reset  {
  width: 100px;
  height: 35px;
}

#toggle  {
  width: 100px;
  height: 35px;
}

button:hover {
  cursor: pointer;
}

.worklog {
  color: white;
  padding-top: 30px;
}

.log_form {
  color: white;
}

.card-title {
  font-family: 'Lacquer', ;
}

.card-text {
  font-family: 'Lacquer', ;
}

.better-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  opacity: 0.8;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebe #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  color: white;
}

.logtitle {
  text-align: center;
  text-decoration: underline;
  color: white;
}

.table-head {
  font-size: 30px;
}

.new-workout {
  color: white;
}

#cityDiv {
  width: 60%;
  margin: auto;
  text-align: center;

}

#submitCity {
   font-family: 'Lacquer', ;
}

#city {
   font-family: 'Lacquer', ;
}

#errorCity {
  width: 50%;
  margin: auto;
  text-align: center;
}

#showWeather {
  width: 60%;
  margin: auto;
  margin-top: 15px;
  background-color: #4aa1f3;
  color: white;
  border-radius: 25px;
  opacity: 0.75;
}

.jumbotron {
  background-color: #4aa1f3;
  opacity: 0.75;
  color: white;
}

.jumboBanner {
  color: white;
}

