@import "bootstrap";

body {
  background: image_url('weights.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
  color: white;
}

.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.card {
  padding: 50px;
  margin-top: 100px;
}


.box {
  
  text-align: center;
  margin-top: 200px;
}

#timer {
  color: white;
  font-size: 100px;
  font-weight: 300;
}

#reset  {
  width: 100px;
  height: 35px;
}

#toggle  {
  width: 100px;
  height: 35px;
}

button:hover {
  cursor: pointer;
}