<h1>Your Workouts</h1>
<% @logs.each do |log| %>
  <h2 class=" worklog text-center">
    <%= link_to log.date.strftime("%A %B %d"), log %><br />
    <%= log.workout %><br />
    <!--<%= log.mood %><br />
    <%= log.length %><br /><br /> -->
  </h2>
  <br />
<% end %>

  